.fastbrixHidden
{
  opacity: 0.0 !important;
  transition: 0.3s opacity;
}

#fastbrixMaincontent
{
  position: relative;
  min-height: 500px;

  #fastbrixLoading
  {
    position: fixed;
    right: 50%;
    bottom: 0;
    left: 50%;
    top: 500px;

    img
    {
      margin: 0 auto;
      display: block;
      position: relative;
      left: -12px;
    }
  }

  #fastbrixContent
  {
    height: auto;
    opacity: 1.0;
    transition: 0.3s height, 0.3s opacity;
  }
}
